################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SyncVersion/.vs/SyncVersion
/SyncVersion/SyncVersion/obj/Debug
*.DS_Store
